<div class="modal fade" id="requestCommentModal<%= comment.request_id %>" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">コメント</h3>
      </div>
      <%= form_for comment, url: { controller: :request_comments, action: :create } do |form| %>
        <%= form.hidden_field :request_id %>
        <div class="modal-body">
          <div class="form-group">
            <%= form.label :title, "コメント" %>
            <br>
            <%= form.text_field :content, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit "投稿", class: "btn btn-primary" %>
      <% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
