<%= form_for req, url: { action: :create } do |form| %>

  <% modal_body = capture do %>
    <div class="form-group">
      <%= form.label :title, "タイトル" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="for-group">
      <%= form.label :content, "内容" %>
      <%= form.text_area :content, rows: 10, cols: 40, class: "form-control" %>
    </div>
    <h4>
      <div class="dropdown form-group">
        <%= form.label :presenter_id, "担当者" %>
        <%= form.collection_select :presenter_id, @members, :id, :account, {prompt:"募集する"} , { class: "form-control" } %>
      </div>
    </h4>
  <% end %>

  <%= modal_dialog :id => "requestModal",
      :header => {show_close: true, dismiss: 'modal', title: 'リクエスト新規作成'},
      :body => modal_body,
      :footer => form.submit("作成", class: "btn btn-primary") + content_tag(:button, "キャンセル", class: "btn btn-default", 'data-dismiss' => "modal") %>

<% end %>
