<h1>リクエスト一覧</h1>
<button data-toggle="modal" href="#myModal" class="btn btn-primary">新規作成</button>
<hr>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">リクエスト新規作成</h3>
      </div>
      <%= simple_form_for @request_new, url: { action: "create" } do |form| %>
      <div class="modal-body">
        <div class="form-group">
          <%= form.label :title, "タイトル" %>
          <br>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="for-group">
          <%= form.label :content, "内容" %>
          <br>
          <%= form.text_area :content, rows: 10, cols: 40, class: "form-control" %>
        </div>
        <h4>
          <div class="dropdown form-group">
            <%= form.label :presenter_id, "担当者" %>
            <br>
            <%= form.collection_select :presenter_id, Member.all, :id, :account, class: "form-control", prompt:"unknown" %>
          </div>
        </h4>
        <h4>
          <div class="dropdown form-group">
            <%= form.label :contributor_id, "作成者" %>
            <br>
            <%= form.collection_select :contributor_id, Member.all, :id, :account,{}, class: "form-control" %>
          </div>
        </h4>
      </div>
      <div class="modal-footer">
        <%= form.submit "登録", class: "btn btn-primary" %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<% @requests.each do |request|  %>
<div class="row ltbox">
  <div class="col-md-7">
    <div class="row ltinbox">
      <div class="col-md-3"> リクエストタイトル </div>
      <div class="col-md-4"> <%= request.title %> </div>
    </div>
    <div class="row ltinbox">
      <div class="col-md-3"> 作成者 </div>
      <div class="col-md-4"> <%= request.contributor.name %> </div>
    </div>
    <div class="row ltinbox">
      <div class="col-md-3"> 内容 </div>
      <div class="col-md-4"> <%= request.content %> </div>
    </div>
    <div class="row ltinbox">
      <div class="col-md-3"> 担当者 </div>
      <div class="col-md-4"> <% case request.status
           when 0 then %>
            <%= "募集中"  %>
          <% when 1 then %>
            <%= "申請中" %>
          <% when 2 then %>
           <%= request.presenter.name %>
       <% end %>
      </div>
    </div>
    <div class="row ltinbox">
      <div class="col-md-3"> 書き込み日時 </div>
      <div class="col-md-4"> <%= request.created_at.to_s(:db) %> </div>
    </div>
    <div class="row ltinbox">
      <div class="col-md-3">コメント</div>
    </div>
    <% request.request_comments.each do |request_comment| %>
      <div class="row ltinbox">
        <div class="col-md-3"><%= request_comment.member.account %></div>
        <div class="col-md-4"><%= request_comment.created_at.to_s(:db) %></div>
        <br>
        <div class="col-md-7"><%= request_comment.content %></div>
      </div>
    <% end %>
  </div>
</div>
<br>
<% end %>
