<h1>リクエスト一覧</h1>
<button data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span>&nbsp;新規作成</button>
<hr>
<%= render 'form' %>

<% @requests.each do |request|  %>
<div class="row ltbox">
  <div class="col-md-7">
    <div class="row ltinbox">
      <div class="col-md-3"> リクエストタイトル </div>
      <div class="col-md-4"> <%= request.title %> </div>
    </div>
    <div class="row ltinbox">
      <div class="col-md-3"> 作成者 </div>
      <div class="col-md-4"> <%= request.contributor.name %> </div>
    </div>
    <div class="row ltinbox">
      <div class="col-md-3"> 内容 </div>
      <div class="col-md-4"> <%= request.content %> </div>
    </div>
    <div class="row ltinbox">
      <div class="col-md-3"> 担当者 </div>
      <div class="col-md-4"> <% case request.status
           when 0 then %>
            <%= "募集中"  %>
          <% when 1 then %>
            <%= "申請中" %>
          <% when 2 then %>
           <%= request.presenter.name %>
       <% end %>
      </div>
    </div>
    <div class="row ltinbox">
      <div class="col-md-3"> 書き込み日時 </div>
      <div class="col-md-4"> <%= request.created_at.to_s(:db) %> </div>
    </div>
    <div class="row ltinbox">
      <div class="col-md-3">コメント</div>
    </div>
    <% request.request_comments.each do |request_comment| %>
      <div class="row ltinbox">
        <div class="col-md-3"><%= request_comment.member.account %></div>
        <div class="col-md-4"><%= request_comment.created_at.to_s(:db) %></div>
        <br>
        <div class="col-md-7"><%= request_comment.content %></div>
      </div>
    <% end %>
  </div>
</div>
<br>
<% end %>
