<h1>リクエスト一覧</h1>
<button data-toggle="modal" href="#requestModal" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span>&nbsp;新規作成</button>

<hr>
<%= render 'form' %>

<% @requests.each_with_index do |request, index|  %>
  <% if index % 3 == 0 %>
    <div class="row">
  <% end %>
  <div class="col-md-4 lt_request_box">
    <h2><%= request.title %></h2>
    <p class="lt_request_content"><%= request.content %></p>

    <% presenter_name = case request.status
                        when Request::Status::None     then "募集中"
                        when Request::Status::Waiting  then "申請中"
                        when Request::Status::Assigned then request.presenter.name
                        end
       %>

    <p><%= presenter_name %>&nbsp;<span class="glyphicon glyphicon-arrow-left green-allow"></span>&nbsp;<%= request.contributor.name %></p>

    <p>投稿日時:<%= request.created_at %> </p>

    <div class="btn-group">
      <button type="button" id="request_comment<%= request.id%>" href="#" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown" data-target="comment<%= request.id %>" >コメント一覧</button>
      <!-- <%= form_for :request_comment, { url: request_comment_path(request.id), method: :get ,remote: true } do |f| %> -->
      <!--   <%= f.submit %> -->
      <!-- <% end %> -->
      <div id="request_comments"></div>
      <div id="comment<%= request.id %>" class="dropdown-menu">
        <% request.request_comments.each do |request_comment| %>
          <a><%= request_comment.member.account %></a>
          <span><%= request_comment.created_at.strftime("%F"); %></span>
          <div><%= request_comment.content %></div>
          <div class="divider"></div>
        <% end %>
      </div>
      <button data-toggle="modal" href="#requestCommentModal<%= request.id %>" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span>&nbsp;コメントする</button>
      <div class="modal fade" id="requestCommentModal<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">コメント</h3>
      </div>
      <%= form_for request.request_comments.build, url: { controller: :request_comments, action: :create } do |form| %>
        <%= form.hidden_field :request_id, value: request.request_comments.last.request_id %>
        <div class="modal-body">
          <div class="form-group">
            <%= form.label :title, "コメント" %>
            <br>
            <%= form.text_field :content, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit "投稿", class: "btn btn-primary" %>
      <% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
      </div>

    </div>
  </div>
  <% if index % 3 == 2 %>
  </div> <!-- row -->
>>>>>>> master
<% end %>

<% end %>
