<h1>LT 詳細</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <table class="table table-hover table-condensed table-bordered">
      <tr>
        <th>タイトル</th>
        <td><%= @lightningtalk.name %></td>
      </tr>
      <tr>
        <th>プレゼンター</th>
        <td><%= @lightningtalk.member.account %></td>
      </tr>
      <tr>
        <th>日付</th>
        <% if @lightningtalk.performance_date.nil? %>
          <td>日付は未定です</td>
        <% else %>
          <td><%= @lightningtalk.performance_date.to_s(:date) %></td>
        <% end %>
      </tr>
      <tr>
        <th>詳細</th>
        <td><%= @lightningtalk.sumally %></td>
      </tr>
      <tr>
        <th>資料</th>
        <td><%= @lightningtalk.content_path.blank? ? "資料はまだない" : link_to("ダウンロード", :action => :archive) %></td>
      </tr>
    </table>
    <% if @current_member.id == @lightningtalk.member.id || @current_member.is_admin? then %>
      <%= content_tag :button, "編集",
	        href: "#editLightningtalkModal#{@lightningtalk.id}",
          class: "btn btn-primary btn-sm",
          data: {toggle: "modal"} %>

      <%= render 'edit_form', lightningtalk: @lightningtalk %>
    <% end %>
  </div>
</div>

<hr>

<h3>コメント一覧</h3>

<%= content_tag :button, "コメントする",
    href: "#ltCommentModal",
    class: "btn btn-sm btn-primary",
    data: {toggle: "modal"} %>
<%= render 'lt_comments/form', { comment: @lightningtalk.lt_comments.build } %>

<br>

<% if @lightningtalk.lt_comments.empty? %>
  <p>コメントはありません</p>
<% else %>
  <% @lightningtalk.lt_comments.order("created_at DESC").each do |lt_comment| %>
    <div class="panel panel-default" style="margin: 5px; width: 250px;">
      <div class="panel-heading">
        <font color="gray"><%= lt_comment.created_at.strftime("%Y/%m/%d %H:%M") %></font> by <strong><%= lt_comment.member.account %></strong>
      </div>
      <div class="panel-body">
        <%= lt_comment.content %>
      </div>
      <% if lt_comment.member_id == @current_member.id || @current_member.is_admin %>
        <%= content_tag :a, "削除",
            href:"#disableLt_comment#{lt_comment.id}",
            class: "btn btn-danger btn-xs",
            data: {toggle:"modal"} %>
        <%= modal_dialog :id => "disableLt_comment#{lt_comment.id}",
            :header => { :show_close => true, :dismiss => 'modal', :content =>"#{lt_comment.content}" },
            :body   => "このコメントを削除しますか?",
            :footer => link_to("はい", lt_comments_disable_path(lt_comment.id), method: :get, class: "btn btn-primary") + content_tag(:button, "キャンセル", class: "btn btn-default", 'data-dismiss' => "modal" ) %>
      <% end %>
    </div>
  <% end %>
<% end %>
