<% if request.request_comments.empty? %>
  <p>コメントはありません</p>
<% else %>
  <% request.request_comments.order("created_at DESC").each do |request_comment| %>
    <div class="panel panel-default" style="margin: 5px; width: 250px;">
      <div class="panel-heading">
        <font color="gray"><%= request_comment.created_at.strftime("%Y/%m/%d %H:%M") %></font> by <strong><%= request_comment.member.account %></strong>
      </div>
      <div class="panel-body">
        <%= request_comment.content %>
      </div>

      <%= content_tag :a, "削除",
         href: "#disableRequest_comment#{request_comment.id}",
         class: "btn btn-danger btn-xs",
         data: {toggle:"modal"} %>
      <%= modal_dialog :id => "disableRequest_comment#{request_comment.id}",
          :header => { :show_close => true, :dismiss => 'modal', :content => "#{request_comment.content}" },
          :body   => "このコメントを削除しますか?",
          :footer => link_to("はい", request_comments_disable_path(request_comment.id), method: :get, class: "btn btn-primary") + content_tag(:button, "キャンセル", class: "btn btn-default", 'data-dismiss' => "modal" ) %>

    </div>
  <% end %>
<% end %>
