<!DOCTYPE html>
<html>
<head>
  <title>LightningPress</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">LightningPress</a>
      </div>

  <%= nav_bar static: :top, brand: "LightningPress", responsive: true do %>
    <%= menu_group do %>
      <%= menu_item "LT Request", lt_requests_path %>
      <%= menu_item "LT Schedule", "#" %>
    <% end %>
    <%= menu_group pull: :right do %>
      <% if current_member %>
        <%= drop_down "Admin" do %>
          <%= menu_item "Manage Members", admin_members_path %>
        <% end %>
        <%= drop_down "#{raw glyph(:user)} Account" do %>
          <%= menu_item "Account Settings", users_path %>
          <%= menu_divider %>
          <%= menu_item raw(glyph('log-out')) + " Log out", logins_path + "/#{@current_member.id}", method: :delete %>
        <% end %>
      <% else %>
      <% end %>
    <% end %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
